// Base: https://codepen.io/sashatran/pen/egjBar

// COLORS
$skin: #f0beaf;
$grey: #424b54;
$pink: #f6828c;

$eyes_blue: blue;
$eyes_green: green;
$eyes_brown: brown;
$eyes_hazel: orange;


// MIXINS
@mixin border($b) {
    border-radius: $b;
    -webkit-border-radius: $b;
    -moz-border-radius: $b;
}

@mixin bck($c) {
    background-color: $c;
}

@mixin colorWhiteSkin ($count, $baseName, $startcolor) {
    @for $i from 0 through $count {
        $background-color: darken($startcolor, $i * $i); 
    .skin_white#{$i} {
      background: $background-color;
    }
   }

}

@include colorWhiteSkin(4, 'a', #ffd8b1);




.person__face,
.person__hair,
.person__nose,
.person__ear,
.person__group,
.person__fringe,
.person__eye,
.person__face-card,
.person__yes,
.person__no,
.person__info,
.person__tongue,
.person__face-wrap,
.person__name,
.person__mouth {
    position: absolute;
}

.person {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transform: scale(0.5);
    transform-origin: left top;
    margin-bottom: -120px;
    margin-right: -120px;

    &.person--big {
        transform: scale(2);
        margin-bottom: 0;
        margin-right: 0;
    }
}

.person__face {
    @include border(100px);
    border: 78px 78px 100px 100px;
    z-index: 20;
    top: 50px;
    left: 70px;
    width: 80px;
    height: 100px;
    background: #f0beaf;
}

.person__hair {
    z-index: 3;
    top: 30px;
    left: 58px;
    width: 100px;
    height: 100px;
    @include border(100%);
    background: $grey;
}

.person__ear {
    z-index: 1;
    top: 86px;
    left: 58px;
    width: 30px;
    height: 30px;
    @include border(100%);
    background: $skin;
    &:before {
        position: absolute;
        top: 5px;
        left: 4px;
        content: "";
        width: 20px;
        height: 20px;
        @include border(100%);
        background: #ed8a80;
    }
}

.person__ear.person__right {
    left: 130px;
}

.person__fringe {
    z-index: 99;
    top: 30px;
    left: 73px;
    width: 80px;
    height: 40px;
    background: $grey;
    border-radius: 100% 0 100% 100%;
    transform: rotate(-4deg);
    &:before {
        position: absolute;
        content: "";
        top: 18px;
        left: -15px;
        width: 20px;
        height: 40px;
        background: #424b54;
        @include border(100%);
        transform: rotate(10deg);
    }
}

.person__eye {
    z-index: 30;
    top: 90px;
    left: 80px;
    width: 10px;
    height: 10px;
    background: $grey;
    @include border(100%);
    &:before {
        position: absolute;
        content: "";
        left: 50px;
        width: 10px;
        height: 10px;
        background: #424b54;
        @include border(100%);
    }
}

.person__nose {
    z-index: 20;
    top: 100px;
    left: 107px;
    width: 8px;
    height: 14px;
    background: #0000001a;
    @include border(100px);

    &.person__Black {
        transform: rotate(90deg);
    }
}

.person__mouth {
    z-index: 20;
    top: 120px;
    left: 97px;
    width: 30px;
    height: 15px;
    border-radius: 0 0 100px 100px;
    background: #424b54;
    overflow: hidden;
}

.person__tongue {
    top: 5px;
    left: 8px;
    width: 30px;
    height: 20px;
    background: $pink;
    @include border(100%);
}